.m-layout {
  height: 100%;
  display: flex;
  flex-direction: column;

  .m-header {
    line-height: 40px;
    background-color: aliceblue;
    padding: 16px;
    box-sizing: border-box;
  }

  .m-body {
    flex: 1;
    padding: 16px;
    box-sizing: border-box;
  }
  
  .m-footer {
    line-height: 40px;
    background-color: aliceblue;
    padding: 16px;
    box-sizing: border-box;
  }
  
}

